{% set pathbrowse = false %}
{% set multiselect = true %}
{% set multiselectFilesOnly = false %}

{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block heading %}
    <legend>{{ theUILang.fDiagCArchiveSel }}</legend>
{% endblock %}

{% block content %}

 {{ window.pathBrowser(selectedTarget, theUILang.fDiagArchive) }}
<fieldset>
    <legend>Options:</legend>
    <label style="float: left;"> {{ theUILang.fDiagCArchType }}
        <select name="fMan_archtype" id="fMan_archtype">

        </select>
    </label>
    <label style="float: left; margin-left: 10px;">
        {{ theUILang.fDiagCompression }}
        <select name="fMan_archcompr" id="fMan_archcompr"> </select>
    </label>
    <label style="float: right;">
        {{ theUILang.fDiagCArchVsize }}
        <input name="fMan_vsize" class="fMan_CArchiveRAR Textbox num1" type="text" value="" id="fMan_vsize"
               disabled="disabled"/>
    </label>
    <label style="float: right;">
        <input name="fMan_multiv" type="checkbox" value="1" class="fMan_CArchiveRAR" id="fMan_multiv"
               style="margin-right: 5px; margin-top:8px;"/>
    </label>
    <label style="clear:both; float: left;">
        Password: <input name="fMan_apassword" class="TextboxLarge fMan_CArchiveRAR" type="text" value=""
                         id="fMan_apassword"/>
    </label>
</fieldset>
<div style="clear:both;"></div>
{% endblock %}

{% block scripts %}
<script>
    (function (global) {
        console.log('dialog-arhive');
        var dialogs = flm.ui.getDialogs();
        var diagId = dialogs.getDialogId('window');
        var settings = flm.getConfig().archives;

        var archiveType = $("#fMan_archtype");
        var compression = $("#fMan_archcompr");
        var password = $("#fMan_apassword");
        var volumeSize = $("#fMan_vsize");

        var compressExtMap  = {
            'gzip': 'tar.gz',
            'bzip2': 'tar.bz2'
        };

        dialogs.onStart(function () {


            return flm.manager.doArchive(
                dialogs.getTargetPath(diagId),
                dialogs.getCheckedList(diagId),
                {
                    type: archiveType.val(),
                    compression: compression.val(),
                    password: password.val(),
                    volumeSize: volumeSize.val()
                }
            );

        });


        var updateArchiveName = function () {

            var type, ext;
            type
                = ext
                = archiveType.val().toLowerCase();
            var level = settings[type].compression[ compression.val()];

            if(type === 'tar')
            {
                ext = compressExtMap.hasOwnProperty(level) ? compressExtMap[level] : ext;
            }

            var file  = dialogs.getTargetPath(diagId);

            var archives = Object.keys(settings);
            archives = $.uniqueSort(archives.concat(Object.values(compressExtMap)));

            file = flm.utils.buildPath([
                flm.utils.basedir(file),
                flm.utils.stripFileExtension(file, archives)
            ]);

            file = flm.utils.trimslashes(file) === "" || flm.utils.trimslashes(file) === flm.utils.trimslashes(flm.getCurrentPath())
                ? flm.ui.browser.getSelectedEntry()
                : file;
            var fileName = file+ '.' + ext;

            dialogs.updateTargetPath(diagId, fileName);
        };

        var updateCompression = function () {

            var type  = archiveType.val().toLowerCase();

            updateArchiveName();

            var notRar = (type !== 'rar');
            $("#fMan_vsize").attr("disabled", (!$("#fMan_multiv").attr("disabled", notRar).is(':checked') || notRar));
            $('#fMan_apassword').attr("disabled", notRar);

            compression.empty();
            for (var i = 0; i < settings[type].compression.length; i++) {
                compression.append('<option value="' + i + '">' + theUILang.fManArComp[type][i] + '</option>');
            }
        };

        if(!archiveType.find('option').length)
        {
            for (var type in settings) {
                archiveType.append('<option value="' + type + '">' + type.toUpperCase() + '</option>');
            }
        }

        $("#fMan_multiv").change(function () {
            var dis = $(this).is(':checked');
            volumeSize.attr("disabled", !dis);
        });

        archiveType.change(function () {
            updateCompression()
        });

        compression.change(function () {
            updateArchiveName();
        });

        updateCompression();

    })
    (window);
</script>
{% endblock %}

