{% macro showMultiple(entries, filesOnly = false) %}
    <div class="checklist">
        {% for path in entries %}
            {% if not (filesOnly and isDir(path)) %}
                {% set randId = random() %}

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ path }}" id="flm-paths-list-{{ randId }}" checked>
                    <label class="form-check-label" for="flm-paths-list-{{ randId }}">
                        <span class="clear-filename">{{ path }}</span>
                    </label>
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endmacro %}

{% macro pathBrowser(default="", title = false, class = "", disabled="") %}
    {% set default = default == "/" ? "" : default %}
    {% set class = class == "" ? "flm-diag-nav-path" : class %}
    {% set randId = random() %}
    <div class="mb-3 row">
        <div class="input-group">
            <label class="input-group-text" for="flm-nav-path-{{ randId }}">{{ title }}</label>
            <input class="form-control {{ class }}" id="flm-nav-path-{{ randId }}" type="text"
                   value="{{ default }}" {{ disabled }}>
        </div>
    </div>
{% endmacro %}

{% macro passwordField(id, title = null) %}
    {% set title = title ?? theUILang.flm_password %}
    <div class="mb-3 row">
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ id }}">{{ title }}</label>
            <input class="form-control" id="{{ id }}" name="{{ id }}" aria-label="{{ title }}"
                   type="password" value="">

            <div class="input-group-text">
                <input class="form-check-input mt-0" id="{{ id }}-showpass" role="switch" type="checkbox" value="" aria-label="Show password">
                <label class="form-check-label mt-0" for="{{ id }}-showpass">Show</label>
            </div>
        </div>
        <script>
            $('#{{ id }}-showpass').on('change', function () {
                $("#{{ id }}").attr('type', $(this).is(':checked') ? 'text' : 'password');
            });
        </script>
    </div>
{% endmacro %}

{% import _self as window %}

<div class="cont fxcaret flm_popup-content">
    <div class="flm-popup-diag-content">
        {% if multiselect %}
            <fieldset>
                {% block heading %}
                {% endblock %}
                {{ window.showMultiple(selectedEntries, multiselectFilesOnly) }}
            </fieldset>
        {% else %}
            {% block heading %}
            {% endblock %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    {% block navigation %}
        {% if pathbrowse %}
            {{ window.pathBrowser(pathbrowse, theUILang.fDiagTo) }}
        {% endif %}
    {% endblock %}

    {% block buttons %}
        <div class="buttons-list">
            <input class="flm-diag-start Button"
                   disabled="disabled" type="button"
                   value="{{ startButtonValue is defined ? startButtonValue : theUILang.fcreate }}"/>
            <input class="flm-diag-cancel Cancel Button" type="button"
                   value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
        </div>
    {% endblock %}


    {% block scripts %}
    {% endblock %}


</div>