{% set pathbrowse = false %}
{% set multiselect = true %}
{% set multiselectFilesOnly = false %}

{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block heading %}
    <legend>{{ theUILang.fDiagCArchiveSel }}</legend>
{% endblock %}

{% block content %}

 {{ window.pathBrowser(selectedTarget, theUILang.fDiagArchive) }}
<fieldset>
    <legend>Options:</legend>
    <label style="float: left;"> {{ theUILang.fDiagCArchType }}
        <select name="fMan_archtype" id="fMan_archtype">

        </select>
    </label>
    <label style="float: left; margin-left: 10px;">
        {{ theUILang.fDiagCompression }}
        <select name="fMan_archcompr" id="fMan_archcompr"> </select>
    </label>
    <label style="float: right;">
        {{ theUILang.fDiagCArchVsize }}
        <input name="fMan_vsize" class="fMan_CArchiveRAR Textbox num1" type="text" value="" id="fMan_vsize"
               disabled="disabled"/>
    </label>
    <label style="float: right;">
        <input name="fMan_multiv" type="checkbox" value="1" class="fMan_CArchiveRAR" id="fMan_multiv"
               style="margin-right: 5px; margin-top:8px;"/>
    </label>
    <label style="clear:both; float: left;">
        Password: <input name="fMan_apassword" class="TextboxLarge fMan_CArchiveRAR" type="text" value=""
                         id="fMan_apassword"/>
    </label>
</fieldset>
<div style="clear:both;"></div>
{% endblock %}

{% block scripts %}
<script>
injectScript(flm.pluginUrl+'js/archive.js');
</script>
{% endblock %}

