{% set pathbrowse = false %}
{% set multiselect = true %}
{% set multiselectFilesOnly = false %}

{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block heading %}
    <legend>{{ theUILang.fDiagCArchiveSel }}</legend>
{% endblock %}

{% block content %}

    {{ window.pathBrowser(selectedTarget, theUILang.fDiagArchive) }}

    {{ window.passwordField("fman-archive-apassword", "Password") }}

    <div class="mb-3 row">
        <fieldset>
            <legend>{{ theUILang.fDiagOptions }}</legend>
            <label style="float: left;"> {{ theUILang.fDiagCArchType }}
                <select id="fMan_archtype" name="fMan_archtype">

                </select>
            </label>
            <label style="float: left; margin-left: 10px;">
                {{ theUILang.fDiagCompression }}
                <select id="fman-archive-archcompr" name="fman-archive-archcompr"> </select>
            </label>
            <label class="fman-archive-settings-rar" for="fman-archive-vsize" style="float: right;">
                {{ theUILang.fDiagCArchVsize }}
                <input class="Textbox num1" id="fman-archive-vsize" name="fman-archive-vsize" type="text" value=""/>
            </label>
        </fieldset>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        if (!flm.ui.hasOwnProperty('dialogArchive')) {

            flm.ui.dialogArchive = function () {
                let dialog = flm.ui.getDialogs();
                const diagId = dialog.getCurrentDialog();
                var settings = flm.config.archives;

                var pathBrowser = dialog.dirBrowserInput(diagId);
                var archiveType = $("#fMan_archtype");
                var compression = $("#fman-archive-archcompr");
                var password = $("#fman-archive-apassword");
                var volumeSize = $("#fman-archive-vsize");
                var format = $('#fman-archive-arcnscheme');
                var pass = $(diagId + ' .fman-archive-settings-pass');
                const cPath = flm.getCurrentPath();

                let self = this;
                // service

                self.updateCompression = function () {
                    var type = archiveType.val().toLowerCase();
                    $('.fman-archive-settings-rar').show();

                    if (type !== 'xxx') {
                        $('.fman-archive-settings-rar').show();
                    } else {
                        $('.fman-archive-settings-pass,.fman-archive-settings-rar').hide();

                        $('.fman-archive-settings-pass').show();
                    }

                    compression.empty();
                    for (var i = 0; i < settings[type].compression.length; i++) {
                        compression.append('<option value="' + i + '">' + theUILang.fManArComp['zip'][i] + '</option>');
                    }
                }

                self.updateFilePath = function (path) {
                    const extensions = $.uniqueSort(Object.keys(settings)).join('|');
                    const extension = archiveType.val().toLowerCase();
                    let filePath = flm.utils.replaceFilePath(path.val(), path.data('previousValue'), extensions, extension);
                    dialog.updateTargetPath(diagId, filePath);
                }

                self.onFormatChange = function () {
                    self.updateFilePath(pathBrowser);
                    self.updateCompression();
                    var typeOpts = settings[archiveType.val().toLowerCase()];

                    if ($type(typeOpts['has_password']) && typeOpts['has_password'] === false) {
                        pass.hide();
                    } else {
                        pass.show();
                    }
                };

                dialog.onStart(() => flm.actions.doArchive(
                    dialog.getTargetPath(diagId),
                    dialog.getCheckedList(diagId),
                    {
                        type: archiveType.val(),
                        compression: compression.val(),
                        password: password.val(),
                        volumeSize: volumeSize.val(),
                        format: format.val()
                    },
                    cPath
                ))

                archiveType.change(self.onFormatChange);

                pathBrowser.change(function (event) {
                    self.updateFilePath($(this));
                });

                if (!archiveType.find('option').length) {
                    for (var type in settings) {
                        archiveType.append('<option value="' + type + '">' + type.toUpperCase() + '</option>');
                    }
                }

                $('#showpass').on('change', function () {
                    password.attr('type', $(this).is(':checked') ? 'text' : 'password');
                });

                self.updateFilePath(pathBrowser);
                self.updateCompression();

            }
        }

        (flm.ui.dialogArchive)(window);
    </script>
{% endblock %}

