{% set pathbrowse = false %}
{% set multiselect = true %}
{% set multiselectFilesOnly = false %}

{% extends "flm::dialog-window.twig" %}
{% import "flm::dialog-window.twig" as window %}

{% block heading %}
    <legend>{{ theUILang.fDiagCArchiveSel }}</legend>
{% endblock %}

{% block content %}
    <div class="mt-3">
        {{ window.pathBrowser(selectedTarget, theUILang.fDiagArchive) }}
    </div>
        <fieldset class="mb-3">
            <legend>{{ theUILang.fDiagOptions }}</legend>
            <div class="mt-3 row">
                <div class="mb-3 col">
                    <div class="input-group">
                        <label class="input-group-text m-0 p-1" for="fMan_archtype">{{ theUILang.fDiagCArchType }}</label>
                        <select class="form-select m-0 p-1" id="fMan_archtype" name="fMan_archtype"
                                aria-label="{{ theUILang.fDiagCArchType }}">
                        </select>
                    </div>
                </div>

                <div class="mb-3 col">
                    <div class="input-group">
                        <label class="input-group-text m-0 p-1" for="fman-archive-archcompr">{{ theUILang.fDiagCompression }}</label>
                        <select class="form-select m-0 p-1" id="fman-archive-archcompr" name="fman-archive-archcompr"
                                aria-label="{{ theUILang.fDiagCompression }}">
                        </select>
                    </div>
                </div>

                <div class="mb-3 col fman-archive-settings-rar">
                    <div class="input-group">
                        <label class="input-group-text m-0 p-1" for="fman-archive-vsize">{{ theUILang.fDiagCArchVsize }}</label>
                        <input class="form-control m-0 p-1" id="fman-archive-vsize" name="fman-archive-vsize" aria-label="{{ theUILang.fDiagCArchVsize }}"
                               type="number" value="">
                    </div>
                </div>

            </div>
            {{ window.passwordField("fman-archive-apassword") }}

        </fieldset>


{% endblock %}

{% block scripts %}
    <script>
        if (!flm.ui.hasOwnProperty('dialogArchive')) {

            flm.ui.dialogArchive = function () {
                let dialog = flm.ui.getDialogs();
                const diagId = dialog.getCurrentDialog();
                var settings = flm.config.archives;

                var pathBrowser = dialog.dirBrowserInput(diagId);
                var archiveType = $("#fMan_archtype");
                var compression = $("#fman-archive-archcompr");
                var password = $("#fman-archive-apassword");
                var volumeSize = $("#fman-archive-vsize");
                var format = $('#fman-archive-arcnscheme');
                var pass = $(diagId + ' .fman-archive-settings-pass');
                const cPath = flm.getCurrentPath();

                let self = this;
                // service

                self.updateCompression = function () {
                    var type = archiveType.val().toLowerCase();
                    $('.fman-archive-settings-rar').show();

                    if (type !== 'xxx') {
                        $('.fman-archive-settings-rar').show();
                    } else {
                        $('.fman-archive-settings-pass,.fman-archive-settings-rar').hide();

                        $('.fman-archive-settings-pass').show();
                    }

                    compression.empty();
                    for (var i = 0; i < settings[type].compression.length; i++) {
                        compression.append('<option value="' + i + '">' + theUILang.fManArComp['zip'][i] + '</option>');
                    }
                }

                self.updateFilePath = function (path) {
                    const extensions = $.uniqueSort(Object.keys(settings)).join('|');
                    const extension = archiveType.val().toLowerCase();
                    let filePath = flm.utils.replaceFilePath(path.val(), path.data('previousValue'), extensions, extension);
                    dialog.updateTargetPath(diagId, filePath);
                }

                self.onFormatChange = function () {
                    self.updateFilePath(pathBrowser);
                    self.updateCompression();
                    var typeOpts = settings[archiveType.val().toLowerCase()];

                    if ($type(typeOpts['has_password']) && typeOpts['has_password'] === false) {
                        pass.hide();
                    } else {
                        pass.show();
                    }
                };

                dialog.onStart(() => flm.actions.doArchive(
                    dialog.getTargetPath(diagId),
                    dialog.getCheckedList(diagId),
                    {
                        type: archiveType.val(),
                        compression: compression.val(),
                        password: password.val(),
                        volumeSize: volumeSize.val(),
                        format: format.val()
                    },
                    cPath
                ))

                archiveType.change(self.onFormatChange);

                pathBrowser.change(function (event) {
                    self.updateFilePath($(this));
                });

                if (!archiveType.find('option').length) {
                    for (var type in settings) {
                        archiveType.append('<option value="' + type + '">' + type.toUpperCase() + '</option>');
                    }
                }

                self.updateFilePath(pathBrowser);
                self.updateCompression();

            }
        }

        (flm.ui.dialogArchive)(window);
    </script>
{% endblock %}

