{% macro showMultiple(entries, filesOnly = false) %}

        {% for path in entries %}
            {% if not (filesOnly and isDir(path)) %}
                {% set randId = random() %}

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{ path }}" id="{{ randId }}" checked>
                    <label class="form-check-label" for="{{ randId }}">
                        {{ path }}
                    </label>
                </div>
            {% endif %}

        {% endfor %}

{% endmacro %}

{% macro pathBrowser(default="", title = false, class = "", disabled="") %}
    {% set default = default == "/" ? "" : default %}
    {% set class = class == "" ? "flm-diag-nav-path" : class %}
    {% set randId = random() %}
    <div class="mb-3 row">
        <div class="input-group">
            <label class="input-group-text" for="flm-nav-path-{{ randId }}">{{ title }}</label>
            <input class="form-control {{ class }}" id="flm-nav-path-{{ randId }}" type="text"
                   value="{{ default }}" {{ disabled }}>
        </div>
    </div>
{% endmacro %}

{% macro passwordField(id, title="Password") %}
    <div class="mb-3 row">
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ id }}">{{ title }}</label>

            <input class="form-control" id="{{ id }}" name="{{ id }}" placeholder="{{ title }}"
                   type="password" value="">
            <div class="form-check form-switch ">
                <input class="form-check-input" id="{{ id }}-showpass" role="switch" type="checkbox">
                <label class="form-check-label" for="{{ id }}-showpass">Show</label>
            </div>
        </div>
    </div>
{% endmacro %}

{% import _self as window %}

<div class="cont fxcaret flm_popup-content">
    <div class="flm-popup-diag-content">
        {% if multiselect %}
            <fieldset>
                {% block heading %}
                {% endblock %}
                <div class="checklist" id="flm-diag-paths-list">
                    {{ window.showMultiple(selectedEntries, multiselectFilesOnly) }}
                </div>
            </fieldset>
        {% else %}
            {% block heading %}
            {% endblock %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    {% block navigation %}
        {% if pathbrowse %}
            {{ window.pathBrowser(pathbrowse, theUILang.fDiagTo) }}
        {% endif %}
    {% endblock %}

    {% block buttons %}
        <div class="buttons-list">
            <input class="flm-diag-start Button" class="Button"
                   disabled="disabled" type="button"
                   value="{{ startButtonValue is defined ? startButtonValue : theUILang.fcreate }}"/>
            <input class="flm-diag-cancel Cancel Button" type="button"
                   value="{{ closeButtonValue is defined ? closeButtonValue : theUILang.fDiagClose }}"/>
        </div>
    {% endblock %}


    {% block scripts %}
    {% endblock %}


</div>